In [13]:
import mysql.connector

In [14]:
mydb=mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="kalharamax"
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002470B55C7D0>

In [15]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE face_db")

In [16]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('face_db',)
('group7',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('spring',)
('sys',)
('world',)

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="kalharamax",
    database="face_db"
)

mycursor = mydb.cursor()
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS face(
        id INT PRIMARY KEY,
        Name VARCHAR(50),
        Age INT,
        Address VARCHAR(50)
    )
""")